<div class="container mt-5">
  <h1 class="mb-4">{{ title }}</h1>
  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="Novo" [(ngModel)]="tarefa" />
    <div class="m-1">
        <button class="btn btn-primary" type="button" (click)="add()">Adicionar</button>
      </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tarefas De Hoje</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item }}</td> 
        <td class="d-flex justify-content-end">
          <button class="btn btn-danger" type="button" (click)="remove(item)"><i class="fas fa-trash"></i> Remover</button>
        </td>   
      </tr>
    </tbody>
  </table>
  
  

  
  
  
  
</div>
